CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="BANANAPRO,AXP209_POWER,SUNXI_GMAC,RGMII,MACPWR=SUNXI_GPH(23),AHCI,USB_EHCI,SUNXI_USB_VBUS0_GPIO=SUNXI_GPH(0),SUNXI_USB_VBUS1_GPIO=SUNXI_GPH(1)"
CONFIG_FDTFILE="sun7i-a20-bananapro.dtb"
+S:CONFIG_ARM=y
+S:CONFIG_TARGET_SUN7I=y

